.container {
    padding-left: 25rem;
    padding-right: 25rem;
    color: var(--text-secondary);
    font-size: .9rem;
    display: flex;
    flex-direction:column;
    justify-content: center;
    margin: 0px, 100px, 0px, 100px;
  }
  
  .container h1 {
    color: var(--text-primary);
    font-size: 1.75rem;
    margin-bottom: 1rem;
    margin-left: 5rem;
    margin-right: 5rem;
    justify-items: center;
  text-align: center;
  }

  .container p {
    text-align: center;
  }
  
  .container div {
    margin-bottom: 1rem;
  }
  
  .container div label {
    display: block;
    font-weight: bold;
    margin-bottom: .5rem;
  }
  
  .container div input {
    display: block;
    width: 100%;
    height: 35px;
    border: 2px solid transparent;
    padding: .5rem 1rem;
    font-size: 1rem;
    border-radius: 8px;
    background-color: var(--background-tertiary);
    color: var(--text-primary);
  }
  
  .container div input:hover {
    border-color: var(--border);
  }
  
  .container div input::placeholder {
    color: var(--text-secondary);
  }
  
  .container form button {
    display: block;
    width: 100%;
    padding: .5rem 1rem;
    background-color: var(--brand);
    color: var(--text-primary);
    border-radius: 8px;
    border: none;
    height: 35px;
    font-weight: 600;
    font-size: 1rem;
  }
  
  .container form button:disabled {
    background-color: var(--brand-disabled);
  }
  
  .container form button:hover:not(:disabled) {
    background-color: var(--brand-hover);
    cursor: pointer;
  }

  .form-control {
    margin: 0px, 100px, 0px, 100px;
    background-color: red;
  }

  .image {
    background-image: url(./giphy.gif);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    /* height:100px;
    width: 100px; */
    /* background-color:red; */
    /* padding: 20px; */
    padding: 20px;
    height: 10rem;
    /* padding-left: 25rem;
    padding-right: 25rem; */
    margin: 0px, 100px, 0px, 100px;
  }
  

  /* background-image: url(../images/giphy.webp); */