main {
    display: flex;
    flex-direction: column;
}

.filters {
    display: flex;
    justify-content: space-around;
    margin: 20px 0;
}

.search {
    line-height: 35px;
}

a {
    text-decoration: none !important;
    color: inherit; /* Optional: Ensures all links inherit the text color */
}

.card {
    border: 2px solid grey;
    border-radius: 8px;
    padding: 20px 0;
    background-color: lightblue;
}

.card img {
    max-width: 100%;
    height: 500px;
}