.button {
    font-family: "Bebas Neue", sans-serif;
    font-size: 18px;
    color: var(--text-primary);
    background-color: var(--brand);
    border: none;
    margin: 0.3rem;
    padding: 0.3rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 5px;
  }
  .button:hover {
    background-color: var(--brand-hover);
  }
  .button:disabled {
    background-color: var(--brand-disabled);
    cursor: not-allowed;
  }

  .tagline {
    font-family: "Bebas Neue", sans-serif;
    font-size: 18px;

  }

  .sitename {
  
    background-image: url(./stickypopcorn.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;

}