.movie {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.rating {
    margin: 20px 50px;
}

.icons {
    display: flex;
    justify-content: left;
    gap: 20px;
    margin: 20px 0;
}
  
.button img {
    display: block;
}

main {
    display: flex;
    flex-direction: column;
}

.movieContainer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 20px;
    row-gap: 20px;
    text-align: center;
    margin: 0 20px;
    align-items: start;
  }

.filters {
    display: flex;
    justify-content: space-around;
    margin: 20px 0;
}

.search {
    display: flex;
    align-items: center;
    line-height: 35px;
    gap: 8px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 2px solid var(--border);
  border-radius: 8px;
  padding: 20px 0;
  background-color: transparent;
  text-align: center;
  height: 100%; 
}

.card img {
    width: 100%; 
    height: auto; 
    max-height: 500px; 
    object-fit: cover;  
    border-radius: 8px 8px 0 0;
}

.movieTitle {
    margin: 10px;
    font-family: "Bebas Neue", sans-serif;
    color:var(--text-primary);

}

.movieInfo {
    font-family: "Bebas Neue", sans-serif;
    color:var(--text-primary);
    font-size: 1rem;
    background-color: transparent;
    border: none;
    padding: 1rem;
    margin: 0;
    text-decoration: none;
}

.movieLink {
    display: flex;
    height: 100%;
    flex-direction: column;
    margin: 10px;
    font-family: "Bebas Neue", sans-serif;
    color:var(--text-primary);
    text-decoration: none;
}

.button {
    font-family: "Bebas Neue", sans-serif;
    font-size: 18px;
    color: var(--text-primary);
    background-color: var(--brand);
    border: none;
    margin: 0.4rem;
    padding: 0.3rem 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 5px;
    text-decoration: none;
    display: inline-block;
    text-align: center;
}

.button:hover {
    background-color: var(--brand-hover);
}