.movie {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.rating {
    margin: 20px 50px;
}

.icons {
    display: flex;
    justify-content: left;
    gap: 20px;
    margin: 20px 0;
}

.button {
    all: unset;
    cursor: pointer;
}
  
.button img {
    display: block;
}