@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Oswald:wght@200..700&display=swap');

:root {
    --text-primary: #ffffff;
    --text-secondary: #cecece;
    --background-primary: #2B3A42;
    --background-secondary: #3F525C;
    --background-tertiary: #556D79;
    --border: #7A9BA6;
    --brand: #F9A826;
    --brand-hover: #D88A1A;
    --brand-disabled: #B77A17;
    --error: #E74C3C;
}

* {
    box-sizing: border-box;
    -webkit-overflow-scrolling: touch;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

main {
    margin: 0;
    background-color:var(--background-tertiary);
    flex-grow: 1;
    max-width: 100%;
    margin: 0 auto;
}

nav {
    background-color: var(--background-tertiary);
}

div {
    background-color: var(--background-tertiary);
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    font-family: "Bebas Neue", sans-serif;
    color:var(--text-primary)
}

